{% extends "layout.html" %}

{% block body %}
<h2>Standup Info</h2>
<form action="/app/roles" method="post">
    <label for="channel">Channel</label>
	<input name="team" type="text" placeholder="Team" required>
	<input name="slackType" type="radio" value="#"> Channel
	<input name="slackType" type="radio" value=""> Private Group
	<label for="dialInNumber">What's conference Number?</label>
	<input name="dialInNumber" type="tel" pattern='\d{1}[\(]\d{3}[\)]\d{3}[\-]\d{4}'
	  title='Format: 9(999)999-9999' required>
	<label for="dialInCode">What's the dial in code?</label>
	<input name="dialInCode" type="number" min="0" required>
	<label for="time">What time?</label>
	<input name="time" type="time" required>
	<label for="timezone">What timezone?</label>
	<select name="timezone">
		<option value="America/New_York">Eastern</option>
		<option value="America/Chicago">Central</option>
		<option value="America/Denver">Mountain</option>
		<option value="America/Los_Angeles">Western</option>
	</select>
	<label for="startDate">Start Date?</label>
	<input name="startDate" type="date" required>
	<label for="endDate">End Date?</label>
	<input name="endDate" type="date" required>
	<label for="reminderTime">Update Task Reminder Time?</label>
	<input name="reminderTime" type="time">
	<button type="submit">Submit</button>
</form>
{% endblock %}